<!DOCTYPE html>
<html>
<head>
    <title><%= titulo %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= titulo %></h1>
    <p>Bienvenido a nuestra lista de películas en cartelera.</p>

    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Director</th>
                <th>Año</th>
            </tr>
        </thead>
        <tbody>
            <% peliculas.forEach(function(pelicula) { %>
                <tr>
                    <td><%= pelicula.id %></td>
                    <td><a href="/pelicula/<%= pelicula.id %>"><strong><%= pelicula.titulo %></strong></a></td>
                    <td><%= pelicula.director %></td>
                    <td><%= pelicula.año %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>